@media (max-width: 950px){
	.bg-1{
		padding: 10px 10%;
	}
	.bg-2{
		padding: 10px 10%;
	}
}
@media (max-width: 710px){
	.bg-1{
		padding: 10px 5%;
	}
	.bg-2{
		padding: 10px 5%;
	}
	button{
		font-size: 16px;
		padding: 10px 10px;
	}
	.work-nav ul li {
		font-size: 12px;
	}
	.work-content .contents p{
		font-size: 12px;
	}
	.contents .box{
		height: 60%;
	}
	.photo-content .contents{
		height: 80%;
	}
}











